<a href="https://colab.research.google.com/github/Soorya-v2002/data-science-assignment/blob/main/python%20basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Given the string "Hello, World!", extract and print the
substring "Hello".

In [ ]:
text = "Hello, World!"
substring = text[:5]
print(substring)

Hello

. Given the string "Python is fun", extract and print the
substring "is".

In [ ]:
text = "Python is fun"
substring = text[7:9]
print(substring)

is

Given the string "Programming", extract and print the
substring "gram" using slicing indices.

In [ ]:
text = "Programming"
substring = text[3:7]
print(substring)

gram

Given the string "abcdefgh", use slicing to print only the
characters at even indices.

In [ ]:
text = "abcdefgh"
even_indices = text[0::2]
print(even_indices)

aceg

Given the string "abcdefg", use negative indices to extract
and print the substring "efg".

In [ ]:
text = "abcdefg"
substring = text[-3:]
print(substring)

Given the string "Data Science", use negative indices to
extract and print the last three characters.

In [ ]:
text = "Data Science"
substring = text[-3:]
print(substring)

nce

Given the string "abcdefghij", use slicing with a step to
print every second character.

In [ ]:
text = "abcdefghij"
every_second_char = text[::2]
print(every_second_char)

acegi

print every second character.
8. Given the string "1234567890", use slicing with a step to
print the odd digits.

In [ ]:
text = "1234567890"
odd_digits = text[::2]
print(odd_digits)

13579

Given the string "Hello", use slicing to print the string in
reverse order.

In [ ]:
text = "Hello"
reversed_text = text[::-1]
print(reversed_text)

olleH

Given the string "abcdefghijk", extract and print the
substring "acegik" using slicing.

In [ ]:
text = "abcdefghijk"
substring = text[::2]
print(substring)

Write a program to find sum of all elements in a list of
integers.

In [ ]:

numbers = [1, 2, 3, 4, 5]


total_sum = sum(numbers)


print("The sum of all elements in the list is:", total_sum)

The sum of all elements in the list is: 15

Input a sentence as a string.
a) Print its length
b) Print the first half of string

In [ ]:

sentence = input("Enter a sentence: ")


length = len(sentence)
print("Length of the sentence:", length)


half_length = length // 2
first_half = sentence[:half_length]
print("First half of the sentence:", first_half)

Write a program to enter a tuple of integers as
(78,45,32,19,82,77,40,39). Change the third value in the tuple to
100

In [ ]:

original_tuple = (78, 45, 32, 19, 82, 77, 40, 39)


temp_list = list(original_tuple)


temp_list[2] = 100

modified_tuple = tuple(temp_list)

print("Modified tuple:", modified_tuple)

Modified tuple: (78, 45, 100, 19, 82, 77, 40, 39)

Consider a list
listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
(a) Delete the first occurrence of 32
(b) Delete all occurrences of 40
(c) Delete the value at index=5
(d) Modify the value at index=9 as 300
(e) Add 200 at index=2
(f) Print the final list with its length, maximum value
and sum of all elements

In [ ]:

listA = [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

# (a)
if 32 in listA:
    listA.remove(32)

# (b)
listA = [x for x in listA if x != 40]

# (c)
if len(listA) > 5:
    del listA[5]

# (d)
if len(listA) > 9:
    listA[9] = 300

# (e)
listA.insert(2, 200)

# (f)
print("Final list:", listA)
print("Length of the list:", len(listA))
print("Maximum value in the list:", max(listA))
print("Sum of all elements in the list:", sum(listA))

Final list: [19, 10, 200, 55, 31, 32, 29, 10, 65, 77]
Length of the list: 10
Maximum value in the list: 200
Sum of all elements in the list: 528

Consider a string ”The day has been long”.
(a) Delete the value at index =4
(b) Print the string 4 times in a single line with space
between each repetition
(c) Print the string 3 times in a new line each time
(d) Modify the string at index 7 as ’A’
(e) Print the string from index 4 to 15
(f) Print the final string with its length

In [ ]:


text = "The day has been long"

# (a)
text_a = text[:4] + text[5:]

# (b)
print(text * 4)

# (c)
for _ in range(3):
    print(text)

# (d)
text_d = text[:7] + 'A' + text[8:]

# (e)
print(text[4:16])

# (f)
print("Final string:", text_d)
print("Length of the final string:", len(text_d))

The day has been longThe day has been longThe day has been longThe day has been long
The day has been long
The day has been long
The day has been long
day has been
Final string: The dayAhas been long
Length of the final string: 21